<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Course Store</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down nav-wrapper">
      {{#if isOnHomePage}}
      <li class="active"><a href="/">Home</a></li>
      {{else}}
      <li><a href="/">Home</a></li>
      {{/if}}

      {{#if isOnCoursesPage}}
      <li class="active"><a href="/courses">Courses</a></li>
      {{else}}
      <li><a href="/courses">Courses</a></li>
      {{/if}}

      {{#if isAuth}}
      {{#if isOnAddCoursePage}}
      <li class="active"><a href="/add-course">Add Course</a></li>
      {{else}}
      <li><a href="/add-course">Add Course</a></li>
      {{/if}}

      {{#if isOnCartPage}}
      <li class="active"><a href="/cart">Cart</a></li>
      {{else}}
      <li><a href="/cart">Cart</a></li>
      {{/if}}

      {{#if isOnOrderPage}}
      <li class="active"><a href="/order">My Order</a></li>
      {{else}}
      <li><a href="/order">My Order</a></li>
      {{/if}}

      {{#if isOnProfilePage}}
      <li class="active"><a href="/profile">My Profile</a></li>
      {{else}}
      <li><a href="/profile">My Profile</a></li>
      {{/if}}

      <li><a href="auth/logout">Logout</a></li>
      {{else}}

      {{#if isOnLoginPage}}
      <li class="active"><a href="/auth/login#login">Log in</a></li>
      {{else}}
      <li><a href="/auth/login#login">Log in</a></li>
      {{/if}}
      {{/if}}
    </ul>
  </div>
</nav>